.env
.venv/
.pytest_cache/
__pycache__/
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
coverage.xml
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
ai_code_reviewer.egg-info/
src/ai_code_reviewer/api/frontend/node_modules/
src/ai_code_reviewer/api/frontend/dist/
src/ai_code_reviewer/api/frontend/build/
